<aside class="menu">

  {{#each categories as |category|}}

    <p class="menu-label">
      {{category.name}}
    </p>

    <ul class="menu-list">

      {{#each category.filters as |filter|}}

        <li {{action 'onFilterRecipes' filter.id}}><a class='{{if (equal filter.id navSvc.selectedRecipeFilter) 'is-active'}}'>{{filter.display}}</a></li>

      {{/each}}

    </ul>

  {{/each}}

</aside>
