
<div class="notification filter-recipe-tile" {{action 'onEditRecipe' recipe}}>

  <p class="title">
    <strong>{{recipe.name}}</strong>
  </p>

  <p class="subtitle">
    {{foode-recipe-stars stars=recipe.stars}}
  </p>

  <div class="content">
    <figure class="image image is-2by1">
      <img src={{recipe.imageUrl}} alt="Image">
    </figure>
  </div>

</div>
