
{{#each fullStars as |fullStar|}}
  <span class="fa fa-star recipe-card-icon star-icon"></span>
{{/each}}

{{#each halfStars as |halfStar|}}
  <span class="fa fa-star-half-full recipe-card-icon star-icon"></span>
{{/each}}

{{#each emptyStars as |halfStar|}}
  <span class="fa fa-star-o recipe-card-icon star-icon"></span>
{{/each}}
