{{yield}}


<div class="tile is-ancestor">

  <div class="tile is-vertical">

    <div class="tile is-parent">
      <article class="tile is-child">

        {{#each recipes as |recipe|}}
          {{foode-tile-content recipe=recipe onEditRecipe='onEditRecipe'}}
        {{/each}}

      </article>
    </div>

  </div>

</div>
