
<div class="notification filter-recipe-tile">

  <p class="title">
    <strong>Recipe Name</strong>
  </p>

  <p class="subtitle">
    {{foode-recipe-stars stars=3}}
  </p>

  <div class="content">
    <figure class="image image is-2by1">
      <img src='http://www.gablescinema.com/media/filmassets/slides/big_lebowski_13.jpg' alt="Image">
    </figure>
  </div>
  
</div>
