
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">

      <h1 class="title">
        <strong>Meal Planner</strong>
      </h1>

      <h2 class="subtitle">
        Coming Soon. Far out.
      </h2>

      <div class="">
        <figure class="image image is-4by3">
          <img src='http://www.parent.co/wp-content/uploads/2016/04/The-Big-Lebowski-White-Russian.jpeg' alt="Image">
        </figure>
      </div>
    </div>
  </div>
</section>
