
<div class="columns">

  <div class="recipe-menu-column">

    {{foode-recipe-menu recipeFilters=model.recipeFilters onFilterRecipes='onFilterRecipes'}}

  </div>

  <div class="column">

    {{liquid-outlet}}

  </div>
</div>
