
<div class="columns">

  <div class="column recipe-menu-column">

    <aside class="menu">

      <p class="menu-label">
        Your Recipes
      </p>
      <ul class="menu-list">
        <li><a>Current</a></li>
        <li><a>Favorites</a></li>
        <li><a>Previous</a></li>
      </ul>


      <p class="menu-label">
        Categories
      </p>
      <ul class="menu-list">
        <li><a>Popular</a></li>
        <li><a>Breakfast</a></li>
        <li><a>Lunch</a></li>
        <li><a>Dinner</a></li>
        <li><a>Italian</a></li>
        <li><a>Vegan</a></li>
        <li><a>Mexican</a></li>
        <li><a>Thai</a></li>
        <li><a>Chinese</a></li>
        <li><a>Greek</a></li>
        <li><a>Japanese</a></li>
        <li><a>Mongolian</a></li>
        <li><a>Tex-Mex</a></li>
        <li><a>Meeeaaaat</a></li>
        <li><a>Fruitarian</a></li>
        <li><a>Ramen</a></li>
      </ul>


    </aside>

  </div>

  <div class="column">

    {{liquid-outlet}}

  </div>
</div>
