<section class="hero is-dark is-medium">
  <div class="hero-body">
    <div class="container">

      <h1 class="title">
        Groceries
      </h1>

      <h2 class="subtitle">
        Coming Soon <span class='fa fa-smile-o' style='margin-left : 5px;'></span>
      </h2>

      <div class="">
        <figure class="image image is-4by3">
          <img src='https://s-media-cache-ak0.pinimg.com/originals/a3/2c/be/a32cbed38d7b7fea25d970a92c699880.jpg' alt="Image">
        </figure>
      </div>
    </div>
  </div>
</section>
